<div class="container">
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <legend>User Form</legend>
        <button class="btn btn-primary" (click)="onClick()">Change values</button>
        <div ngModelGroup="groupUser" #group1="ngModelGroup">
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" id="username" ngModel name="username" required>
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" id="email" ngModel name="email" required email #email="ngModel">
                <span class="help-block" *ngIf="!email.valid && email.touched">Enter a valid email</span>
            </div>
        </div>

        <div class="form-group">
            <label for="">Gender</label>
            <select class="form-control" id="gender" [ngModel]="defaultGender" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
        </div>
        <input class="form-control" type="text" name="color" [(ngModel)]="color">
        <span>your favorite color: {{ color }}</span>

        <div class="radio" *ngFor="let animal of animals">
            <label>
                <input type="radio" name="animal" ngModel [value]="animal">
                {{ animal }}
            </label>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    </form>
</div>
<div *ngIf="isSubmitted">
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Gender: {{ user.gender }}</p>
    <p>Color: {{ user.color }}</p>
    <p>animal: {{ user.animal }}</p>
</div>